/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
/*
  base font-size: 18px
  base line-height: 22px
  1.618/Phi is our modular scale:
  https://www.modularscale.com/?18&px&1.618
*/

html {
  background: #222;
  color: #EEE;
  font-family: Merriweather, sans-serif;
  font-size: 1.125em /* 18px / 16 = 1.125 */
  line-height: 1.22222222em; /* 22px /18 = 1.2222222 */
  padding: 1.22222222em; /* 22px /18 = 1.2222222 */
}

h1 {
  font-size:1.618em /* 29.124px / 18 = 1.618em */
  line-height:1.510781486em /*44px /29.124 = 1.51078 */
}

p {
  padding-bottom: 1.22222222em /* 22px / 18 */
}

/* Forms */
input, label {
  display: block;
  box-sizing: border-box;
}

input {
  padding: 1.22222222em; /*22px / 18 */
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  border: 0;
  outline: 0;
  width: 100%;
}

input[type="tel"] {
  margin-bottom: 11px;
  background-color: rgba(67,176,183,1.0);
}

input[type="tel"]:focus {
  background-color: #EEE;
}

input[type="submit"] {
  background-color: rgba(67,176, 183, 8.0);
}

input[type="submit"]:disabled {
  background-color: rgba(67,176, 183, 0.2);
}

.hint {
  font-style: italic;
}

.hint b {
  color: red;
}


/*Diagnostic CSS*/
/**
* A quick baseline grid overlay using css+svg.
* Inspired by [Basehold.it](https://basehold.it/).
* @author leshido
*/

body.g {
  position: relative;
}

body.g::after {
  /* Change the `height` parameter here to match your base line-height. */
  background: url('data:image/svg+xml;utf8,<svg height="22" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(255, 0, 0, 0.3)" /></svg>') repeat top left;

  content: "";
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  position: absolute;
}

body.g:active::after {
  display: none;
}

/*End Diagnostic CSS*/
